#
# 60-io-schedulers.rules - DevOpsBroker configuration for disk I/O schedulers
#
# Copyright (C) 2018 Edward Smith <edwardsmith@devopsbroker.org>
#
# This program is free software: you can redistribute it and/or modify it under
# the terms of the GNU General Public License as published by the Free Software
# Foundation, either version 3 of the License, or (at your option) any later
# version.
#
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
# details.
#
# You should have received a copy of the GNU General Public License along with
# this program.  If not, see <http://www.gnu.org/licenses/>.
#
# -----------------------------------------------------------------------------
# Developed on Ubuntu 16.04.4 LTS running kernel.osrelease = 4.13.0-43
#
# In order to set the default queue scheduler to kyber:
#   o scsi_mod.use_blk_mq=1 is set on the GRUB_CMDLINE_LINUX_DEFAULT setting
#     in /etc/default/grub
#   o The kyber-iosched module is loaded in /etc/modules
# -----------------------------------------------------------------------------
#

# Use kyber I/O scheduler and set default read/write nanosecond latency values
ACTION=="add", ENV{DEVTYPE}=="disk", SUBSYSTEM=="block", KERNEL=="sd[a-z]|mmcblk[0-9]|nvme[0-9]", ATTR{queue/scheduler}="kyber"
ACTION=="add", ENV{DEVTYPE}=="disk", SUBSYSTEM=="block", KERNEL=="sd[a-z]|mmcblk[0-9]|nvme[0-9]", ATTR{queue/iosched/read_lat_nsec}="24576"
ACTION=="add", ENV{DEVTYPE}=="disk", SUBSYSTEM=="block", KERNEL=="sd[a-z]|mmcblk[0-9]|nvme[0-9]", ATTR{queue/iosched/write_lat_nsec}="24576"
