# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
Ubuntu/16.04/Utilities/C/between
Ubuntu/16.04/Utilities/C/firelog
Ubuntu/16.04/Utilities/C/schedtuner
Ubuntu/16.04/Utilities/C/scriptinfo
Ubuntu/16.04/Utilities/C/verifyclass
Ubuntu/16.04/Utilities/C/verifyip
Ubuntu/18.04/Utilities/C/between
Ubuntu/18.04/Utilities/C/firelog
Ubuntu/18.04/Utilities/C/schedtuner
Ubuntu/18.04/Utilities/C/scriptinfo
Ubuntu/18.04/Utilities/C/verifyclass
Ubuntu/18.04/Utilities/C/verifyip

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build artifacts
**/build/pkg-debian/
**/build/tar-test/

# Whitelist files
!.keep
!makefile
